<?xml version="1.0" encoding="UTF-8"?>

<configuration>
  <property>
    <name>dfs.permissions.superusergroup</name>
    <value>hadoop</value>
  </property>
  <property>
    <name>dfs.datanode.data.dir</name>
    <value>{{ hdfs_disks | map(attribute="mount_point") | join(",") }}</value>
 </property>
</configuration>
