<?xml version="1.0" encoding="UTF-8"?>

<configuration>
  <property>
    <name>dfs.permissions.superusergroup</name>
    <value>hadoop</value>
  </property>
  <property>
 	<name>dfs.namenode.name.dir</name>
 	<value>/media/persistent0</value>
 </property>
</configuration>
